/* CSS Properties In Progress */
:root {
  --business-primary-background-color: rgb(2, 124, 168);

  --consumer-label-color: rgb(37, 51, 64);
  --consumer-primary-gradient: linear-gradient(to top right, rgb(0, 115, 162), rgb(7, 148, 204));
  --consumer-active-gradient: linear-gradient(to top right, rgb(8, 60, 86), rgb(10, 76, 112));
  --consumer-hover-gradient: linear-gradient(to top right, rgb(0, 96, 135), rgb(0, 115, 162));
  --consumer-disabled-gradient: linear-gradient(to top right, rgb(140, 200, 219),rgb(137, 208, 230));
  
  --sarabun-font: 'Sarabun', sans-serif;
  --standard-box-shadow: 1px 1px 6px rgb(197, 200, 202);
}

.main-theme-container {
  display: flex;
  flex-direction: column;
  height: 4000px;
}

.consumer-theme-container {
  display: flex;
  flex-direction: column;
  height: 985px;
  width: 600px;
  margin: 30px;
}

.consumer-theme-button-state-container {
  align-items: center;
  display: flex;
  height: 464px;
}

.button-state-legend-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 400px;
  background-color: white;
  padding: 35px;
  margin: 20px;
}

.button-state-legend-example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 403px;
  padding: 35px;
  margin: 20px;
}

.header--medium {
  font-family: var(--sarabun-font);
  color: var(--consumer-label-color);
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.consumer-legend-text {
  font-family: var(--sarabun-font);
  color: var(--consumer-label-color);
  font-size: 18px;
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
}

.btn {
  border: none;
  text-decoration: none;
  background-color: white;
  font-size: 18px;
  width: 230px;
  height: 48px;
  border-radius: 5px;
}

.btn__text {
  font-family: var(--sarabun-font);
  letter-spacing: 1px;
}

/* Consumer Primary Button State Legend */

.btn--consumer-primary--unselected {
  color: white;
  background-image: var(--consumer-primary-gradient);
  box-shadow: var(--standard-box-shadow);
  outline: 0;
}

.btn--consumer-primary--hover {
  outline: none;
  color: white;
  background-image: var(--consumer-hover-gradient);
}

.btn--consumer-primary--disabled {
  background-image: linear-gradient(to top right, rgb(140, 200, 219),rgb(137, 208, 230));
  color: white;
  outline: 0;
  opacity: 0.8;
}

.btn--consumer-primary--active {
  background-image: var(--consumer-active-gradient);
  color: white;
  outline: none;
}

.btn--consumer-primary--focus {
  background-image: linear-gradient(to top right, rgb(0, 115, 162), rgb(0, 133, 187));
  box-shadow: var(--standard-box-shadow);
  border: rgb(148, 208, 234) 2px solid;
  color: white;
  outline: 0;
  text-decoration: none;
}

/* Consumer Primary Button */

.btn--consumer-primary {
  background-image: var(--consumer-primary-gradient);
  box-shadow: var(--standard-box-shadow);
  color: white;
  outline: 0;
}

.btn--consumer-primary:hover {
  background-image: linear-gradient(to top right, rgb(0, 96, 135), rgb(0, 115, 162) )
}

button.btn--consumer-primary:disabled,
button.btn--consumer-primary[disabled]{
  border: 1px solid #999999;
  background-image: linear-gradient(to top right, rgb(140, 200, 219),rgb(137, 208, 230));
  border: none;
  opacity: 0.8;
}

.btn--consumer-primary:active {
  background-image: var(--consumer-active-gradient);
  border: none;
  color: white;
  outline: 0;
}

.btn--consumer-primary:focus {
  border: rgb(148, 208, 234) 2px solid;
  outline: 0;
  text-decoration: none;
}

.btn--consumer-primary:focus:active {
  background-image: var(--consumer-active-gradient);
  border: none;
  color: white;
  outline: 0;
}

/* Consumer Secondary Button State Legend */

.btn--consumer-secondary--unselected {
  box-shadow: var(--standard-box-shadow);
  border: solid 2px rgb(46, 115, 167);
  background-color: white;
  color: rgb(48, 127, 186);
  outline: 0;
}

.btn--consumer-secondary--hover { 
  box-shadow: var(--standard-box-shadow);
  outline: none;
  color: white;
  background-image: linear-gradient(to top right, rgb(0, 96, 135), rgb(0, 115, 162) )
}

.btn--consumer-secondary--disabled {
  border: solid 2px rgb(96, 169, 224);
  background-color: white;
  color: rgb(96, 169, 224);
  opacity: 0.4;
  outline: 0;
}

.btn--consumer-secondary--active {
  background-image: var(--consumer-active-gradient);
  color: white;
  outline: none;
}

.btn--consumer-secondary--focus {  
  box-shadow: 0 0 1pt 1pt rgb(148, 208, 234);
  border: solid 2px rgb(46, 115, 167);
  background-color: white;
  color: rgb(38, 96, 139);
  outline: 0;
}

/* Consumer Primary Button */

.btn--consumer-secondary {
  box-shadow: var(--standard-box-shadow);
  border: solid 2px rgb(46, 115, 167);
  background-color: white;
  color: rgb(48, 127, 186);
  outline: 0;
}

.btn--consumer-secondary:hover {
  box-shadow: var(--standard-box-shadow);
  border: 2px solid var(--consumer-hover-gradient);;
  background-image: var(--consumer-hover-gradient);;
  color: white;
  outline: 0;
}


button.btn--consumer-secondary:disabled,
button.btn--consumer-secondary[disabled]{
  box-shadow: var(--standard-box-shadow);
  border: solid 2px rgb(96, 169, 224);
  background-color: white;
  color: rgb(96, 169, 224);
  opacity: 0.4;
  outline: 0;
}

.btn--consumer-secondary:active {
  box-shadow: var(--standard-box-shadow);
  border: solid 2px rgb(10, 76, 112);
  background-image: var(--consumer-active-gradient);
  color: white;
  outline: none;
}

button.btn--consumer-secondary:focus {
  box-shadow: 0 0 1pt 1pt rgb(148, 208, 234);
  border: solid 2px rgb(46, 115, 167);
  background-color: white;
  color: rgb(38, 96, 139);
  outline: 0;
}

.btn--consumer-secondary:active:focus:hover {
  box-shadow: none;
  background-image: var(--consumer-active-gradient);
  color: white;
  outline: none;
  border: solid 2px rgb(10, 76, 112);
}

.btn--consumer-secondary:active:focus {
  box-shadow: 0 0 1pt 1pt rgb(148, 208, 234);
  border: solid 2px rgb(46, 115, 167);
  background-color: white;
  color: white;
  outline: 0;
}

button.btn--consumer-secondary:active:hover {
  box-shadow: 0 0 1pt 1pt rgb(148, 208, 234);
  border: solid 2px rgb(46, 115, 167);
  background-color: white;
  color: white;
  outline: 0;
}

button.btn--consumer-secondary:focus:hover {
  box-shadow: 0 0 1pt 1pt rgb(148, 208, 234);
  border: 2px solid var(--consumer-hover-gradient);;
  background-image: var(--consumer-hover-gradient);;
  color: white;
  outline: 0;
}

.business-theme-container {
  display: flex;
  flex-direction: column;
  height: 1800px;
  width: 880px;
  margin: 30px;
}

.business-theme-main-state-container {
  display: flex;
  flex-direction: column;
}

.business-theme-main-state-container {
  display: flex;
}

.business-theme-state-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
}

.business-theme-state-type-container {
  display: flex;
  justify-content: space-between;
}

.business-theme-state-type-text { 
  color: rgb(196,36, 70);
  font-family: var(--sarabun-font);
  font-size: 17px;
  width: 100px;
  text-align: center;
}

.business-theme-state-button-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}



/* Business Theme Large State Legend */

.btn--business-primary--large--unselected {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--large--hover {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--large--focus {
  background-color: var(--business-primary-background-color);
  border: 2px solid var(--business-primary-background-color);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  box-shadow: inset 0 0 0 1pt white;
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px; 
  outline: 0;
}

.btn--business-primary--large--active {
  background-color: rgb(38, 96, 139);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--large--disabled {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  font-weight: 600;
  height: 34px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 84px;
}


.btn__text--primary {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.btn__text--primary--small {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}

.btn__text--consumer-secondary {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: bolder;
}

.btn__text--secondary {
  color: rgb(37, 106, 157);
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.btn__text--secondary--small {
  color: rgb(49, 121, 173);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Business Theme Primary Large Button */

.btn--business-primary--large {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--large:hover {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--large:focus {
  background-color: var(--business-primary-background-color);
  border: 2px solid var(--business-primary-background-color);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  box-shadow: inset 0 0 0 1pt white;
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px; 
  outline: 0;
}

.btn--business-primary--large:active {
  background-color: rgb(38, 96, 139);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 34px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

button.btn--business-primary--large:disabled,
button.btn--business-primary--large[disabled]{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 34px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 84px; 
}

/* Business Theme Primary Medium State Legend */

.btn--business-primary--medium--unselected {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--medium--hover {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--medium--focus {
  background-color: var(--business-primary-background-color);
  border: 2px solid var(--business-primary-background-color);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  box-shadow: inset 0 0 0 1pt white;
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px; 
  outline: 0;
}

.btn--business-primary--medium--active {
  background-color: rgb(38, 96, 139);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--medium--disabled {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 84px; 
}

/* Business Theme Primary Medium Button */
.btn--business-primary--medium {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--medium:hover {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--medium:focus {
  background-color: var(--business-primary-background-color);
  border: 2px solid var(--business-primary-background-color);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  box-shadow: inset 0 0 0 1pt white;
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px; 
  outline: 0;
}

.btn--business-primary--medium:active {
  background-color: rgb(38, 96, 139);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 30px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

button.btn--business-primary--medium:disabled,
button.btn--business-primary--medium[disabled]{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 84px; 
}

/* Business Theme Primary Medium State Legend */

.btn--business-primary--small--unselected {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--small--hover {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--small--focus {
  background-color: var(--business-primary-background-color);
  border: 2px solid var(--business-primary-background-color);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  box-shadow: inset 0 0 0 1pt white;
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px; 
  outline: 0;
}

.btn--business-primary--small--active {
  background-color: rgb(38, 96, 139);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--small--disabled {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 84px; 
}

/* Business Theme Primary Small Button */

.btn--business-primary--small {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--small:hover {
  background-color: var(--business-primary-background-color);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

.btn--business-primary--small:focus {
  background-color: var(--business-primary-background-color);
  border: 2px solid var(--business-primary-background-color);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  box-shadow: inset 0 0 0 1pt white;
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px; 
  outline: 0;
}

.btn--business-primary--small:active {
  background-color: rgb(38, 96, 139);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  height: 24px;
  width: 84px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
}

button.btn--business-primary--small:disabled,
button.btn--business-primary--small[disabled]{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 84px; 
}

/* Business Theme Large State Legend */

.btn--business-secondary--large--unselected {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 35px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--large--hover {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 35px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--large--focus {
  background-color: white;
  box-shadow:
    inset 0 0 0 1px rgb(49, 121, 173),
    inset 0 0 0 3px white,
    inset 0 0 0 4px rgb(49, 121, 173);
  height: 36px;
  width: 100px;
  border: none;
  border-radius: 3px;
  outline: 0;
}

.btn--business-secondary--large--active {
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 36px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--large--disabled {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 100px; 
}

/* Business Theme Secondary Large Button */

.btn--business-secondary--large {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 35px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--large:hover {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 35px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--large:focus {
  box-shadow:
    inset 0 0 0 1px rgb(49, 121, 173),
    inset 0 0 0 3px white,
    inset 0 0 0 4px rgb(49, 121, 173);
  height: 38px;
  width: 100px;
  border-radius: 3px;
  border: none;
  outline: 0;
}

.btn--business-secondary--large:active {
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 38;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--large:active:focus {
  box-shadow: none;
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 36px;
  width: 100px;
}

button.btn--business-secondary--large:disabled,
button.btn--business-secondary--large[disabled]{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 100px; 
}

/* Business Theme Medium State Legend */

.btn--business-secondary--medium--unselected {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--medium--hover {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--medium--focus {
  background-color: white;
  box-shadow:
    inset 0 0 0 1px rgb(49, 121, 173),
    inset 0 0 0 3px white,
    inset 0 0 0 4px rgb(49, 121, 173);
  height: 29px;
  width: 100px;
  border: none;
  border-radius: 3px;
  outline: 0;
}

.btn--business-secondary--medium--active {
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  outline: 0;
  width: 100px;
}

.btn--business-secondary--medium--disabled {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 29px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 100px; 
}

/* Business Theme Secondary Medium Button */

.btn--business-secondary--medium {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--medium:hover {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--medium:active {
  background-color: rgb(235, 249, 254);
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--medium:focus {
  box-shadow:
    inset 0 0 0 1px rgb(49, 121, 173),
    inset 0 0 0 3px white,
    inset 0 0 0 4px rgb(49, 121, 173);
  height: 29px;
  width: 100px;
  border-radius: 3px;
  border: none;
  outline: 0;
}

.btn--business-secondary--medium:active:focus {
  box-shadow: none;
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
}


button.btn--business-secondary--medium:disabled,
button.btn--business-secondary--medium[disabled]{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 29px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 100px; 
}


.btn--business-secondary--medium--unselected {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 29px;
  width: 100px;
  outline: 0;
}

/* Business Theme Small State Legend */

.btn--business-secondary--small--unselected {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--small--hover {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  width: 100px;
  outline: 0;
}


.btn--business-secondary--small--focus {
  background-color: white;
  box-shadow:
    inset 0 0 0 1px rgb(49, 121, 173),
    inset 0 0 0 3px white,
    inset 0 0 0 4px rgb(49, 121, 173);
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 3px;
  outline: 0;
}

.btn--business-secondary--small--active {
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  outline: 0;
  width: 100px;
}

.btn--business-secondary--small--disabled {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 100px; 
}

/* Business Theme Secondary Small Button */

.btn--business-secondary--small {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--small:hover {
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--small:active {
  background-color: rgb(235, 249, 254);
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  width: 100px;
  outline: 0;
}

.btn--business-secondary--small:focus {
  box-shadow:
    inset 0 0 0 1px rgb(49, 121, 173),
    inset 0 0 0 3px white,
    inset 0 0 0 4px rgb(49, 121, 173);
  height: 25px;
  width: 100px;
  border-radius: 3px;
  border: none;
  outline: 0;
}

.btn--business-secondary--small:active:focus {
  box-shadow: none;
  background-color: rgb(235, 249, 254);
  border-radius: 3px;
  border: 1px solid rgb(49, 121, 173);
  border-radius: 3px;
  height: 25px;
  width: 100px;
}

button.btn--business-secondary--small:disabled,
button.btn--business-secondary--small[disabled]{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(197, 200, 202);
  color: rgb(134, 134, 134);
  height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8.5px;
  margin-right: 8.5px;
  outline: 0;
  width: 100px; 
}

